h1{
    color: #dc143c;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    text-shadow: 2px -4px 2px black;
}
p{
    text-align: center;
    font-size: 25px
}
.blue{
    color: #8296d6
}
h2{
    color: #dc143c;
    text-decoration: underline;
    font-weight: bold;
    font-size: 30px
}
dt{
    background-color: #D6D6D6;
    font-weight: bold;
    color: white;
    text-indent: 20px;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
    line-height: 25px
}
dl{
    
}